services:
  app:
    build: .
    container_name: sinatra-app
    ports:
      - "4567:4567"
    environment:
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_NAME=keploy_demo
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - keploy-network

  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=keploy_demo
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - keploy-network

networks:
  keploy-network:
    driver: bridge
